<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title>会员管理</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>会员管理</h1>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<form onkeydown="submitForm(event)">
								<p></p>
								<div class="row">
									<div class="col-xs-2">
										<div class="form-group">
											<label>会员状态</label> <select name="status" id="status" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
												<option selected="selected">全部</option>
												<option>有效</option>
												<option>无效</option>
											</select>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="form-group">
											<label>搜索条件</label>
											<div class="input-group">
												<input type="text" placeholder="姓名,身份证,手机号" name="query" id="query" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" />
												<div class="input-group-addon">
													<i class="fa fa-search"></i>
												</div>
											</div>
											<!-- /.input group -->
										</div>
									</div>
									
									<div class="col-xs-2">
										<div class="form-group">
											<label>&nbsp;</label>
											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="text" class="form-control pull-right" placeholder="注册时间" name="registTime" id="datepicker" />
											</div>
											<!-- /.input group -->
										</div>
									</div>
									
									
								</div>
								<div class="row">
									
								</div>
							</form>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>姓名</th>
										<th>邮箱</th>
										<th>身份证号码</th>
										<th>手机号码</th>
										<th>注册时间</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
		<!-- DataTables -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
		<!-- page script -->
		<script>
function drawTable(queryData){
	console.info(queryData);
	return $('#example2').DataTable({
		  "sDom": '"top"i',
		  "serverSide": true,
		  "paging": true,
		  "destroy": true,
	      "lengthChange": false,
	      "searching": true,
	      "ordering": false,
	      "info": true,
	      "autoWidth": false,
		  "language": tableslanguage,
		  "ajax":{
			 
			  "url":"/customer/list",
			  "type":"post",
			  "data":queryData,
			  "timeout":"15000",
			  "error":handleAjaxError
		  },
		  "columns":[
		             {"data":"id"},
		             {"data":"idCardName"},
		             {"data":"email"},
		             {"data":"idCardAccount"},
		             {"data":"phone"},
		             {"data":function(data, type, row){
		            	 		return moment(data.createdDate).format('YYYY-MM-DD');
		             		  }
		             },
		             {"data":"status"},
		             {"data":"id"}
		             ]
		});
}
function search(){
	return drawTable($("form").serializeJson());
}
  $(function () {
	  $('.customer').addClass('active');
	  var table = search();
	  var datePicker = initDatePicker($('#datepicker'));
	  $('#query').on('keyup change',function(){
		  table
          .column(1)
          .search(this.value)
          .draw();
	  });
	  $('#status').on('change',function(){
		  table
          .column(6)
          .search(this.value)
          .draw();
	  });
	  $('#datepicker').on('change',function(){
		  table.draw();
	  })
  }); 
  /**回车提交**/
  function submitForm(event) {
	  if(event.keyCode==13){
		  search();
     }
  }
</script>
	</div>
</body>
</html>
